/*The main styling file for Dynamic Web Development 1 Project 1
Name: Phillip Llewellyn 
ID:620118149
*/

* {
  margin: : 0;
  font-family: "Times New Roman", Times, serif;

}

.grid-container{
	display: grid;
	grid-template-areas: 
	'header header header header header header header header'
    '. . side-bar main main main . .';
}
.header{
	grid-area: header;
  	background-color: #47c4be;
	padding: 30px 30%;
	color: White;
	position: sticky;
	top: 0;
}


.side-bar{
	grid-area: side-bar;
	display: flex;
	flex-direction: column;
	background-color: LightGrey;
	padding: 20px;
	margin-top: 20px;
	border-radius: 3px;
}
.main{
	grid-area: main;
	background-color: White;
	padding: 10px 50px;
	margin-top: 20px;
}

#header_box{
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	position: relative;
	border-style: solid;
	border-color: White;
	border-width: 2px;
	margin: 0;
	line-height: 0px;
	padding: 5px;
}

.timeline{
	display:flex;
	flex-direction: row;
}

.timeline-date{
	line-height: 0px;
	margin-right: 10px;
	flex: 0 0 100px
}

.timeline-detail{
	margin-left: 10px;
	margin-bottom: 20px;
}
.detail-title{
	line-height: 0px;
}
.title-text{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.side-title{
	font-family: 'Titillium Web', sans-serif;
	color: Black;
}
.skill-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60%;
	font-size: 17px;
	font-style: oblique;
}
.divider-side{
	border-style: solid;
	border-color: #4bada8;
	border-width: 2px;
}

.divider-main{
	border-style: solid;
	border-color: #4bada8;
	border-width: 2px;
}
.profile-pic{
	align-self: center;

}
.detail-text{
	font-style: italic;
}

#profile-pic{
	width: 120px;
	height: auto;
	border-radius: 100%;
	align-self: center;
}

a{
	color: inherit;
	text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}

.fa {
  padding: 6px;
  font-size: 6px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  border-radius: 5px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
